
@{
    ViewData["Title"] = "PetShop - Access Denied";
}

<h1>Access Denied</h1>
<h4>You do not have permission to access this page.</h4>

<br />
<br />
<a asp-controller="home" asp-action="index" class="btn btn-secondary">Homepage</a>

