@model PetShop.Models.ViewModels.RegisterVM
@{
    ViewData["Title"] = "PetShop - Register";
}

<div class="container">
    <h2>Register a New Account</h2>
    <form id="registerForm" class="needs-validation" method="post" novalidate>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" class="form-control" id="Username" name="Username" onblur="this.value=this.value.trim()" minlength="3" maxlength="15" required />
            <div class="invalid-feedback">
                Username must be between 3 and 15 characters and contain only English letters and digits.
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" class="form-control" id="Password" name="Password" onblur="this.value=this.value.trim()" minlength="3" maxlength="25" required />
            <div class="invalid-feedback">
                Password must be between 3 and 25 characters, contain only English letters, digits, the special characters "!@@", and match the confirm password.
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="PasswordConfirm">Confirm Password:</label>
            <input type="password" class="form-control" id="PasswordConfirm" name="PasswordConfirm" onblur="this.value=this.value.trim()" minlength="3" maxlength="25" required />
            <div class="invalid-feedback">
                Password must be between 3 and 25 characters, contain only English letters, digits, the special characters "!@@", and match the password.
            </div>
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <button type="submit" id="btnSubmit" class="btn btn-secondary mt-2">Submit</button>
        <a asp-controller="home" asp-action="index" class="btn btn-primary mt-2">Cancel</a>
    </form>
</div>

<script src="~/scripts/register.js" defer></script>

